{% extends 'base.html.twig' %}

{% block title %}Edit Article{% endblock %}

{% block body %}
    <h1>Edit Article</h1>

    {{ include('article/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('article_index') }}">back to list</a>

    {{ include('article/_delete_form.html.twig') }}

    <script>

        $collectionHolder = $('#article_images > div');

        $collectionHolder.each(function() {
            addTagFormDeleteLink($(this));
        });

        function addTagFormDeleteLink($tagFormLi) {
            var $removeFormButton = $('<button type="button">Delete this image</button>');
            $tagFormLi.append($removeFormButton);

            $removeFormButton.on('click', function(e) {
                // remove the li for the tag form
                $tagFormLi.remove();
            });
        }
    </script>
{% endblock %}
